@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Расчет барабанной печи</h1>
    <div class="text-center">
        <img src="~/images/img-2016-06-17-15-32-08.png" />
    </div>
    <div class="mt-4">
        <pre>
     Формовочные материалы (глина песок) сушатся в барабанных сушилных печах.
Тепловой баланс составляется для определения расхода тепла на сушку, а также для оценки отдельных статей прихода и
расхода тепла в сушильной установке. Для сушил составляется единый баланс. Тепловой баланс условно принято составлять
при 0℃; считается, что все тела, влага, газы, участвующие в балансе, вносят в него тепло, если их t>00C и расходуют тепло
на нагрев за счет баланса, если имеют t меньше 0℃.

    Расчет представлен для сушки формовочного песка производительностью 6300 кг/ч (1,75 кг/c).Начальная влажность песка W1=10%,
а конечная W2=0,5%.
Сушка производится продуктами сгорания мазута марки 100,имеющего следующий состав рабочей массы,%: <b>
    С=86,6; H=10,4; S=0,84; O=0,4;N=0,6; W=0,8.
</b>
Максимальная температура газов t1=850℃,минимальная t2=350℃.
    Принимаем прямоточную схему движения газов и сушимого материала.
        </pre>
        <pre>
<b>1.2.	Математическая модель задачи</b>
<b>I.	Расчет горения топлива:</b>
Мазут сжигается с помощью форсунки низкого давления. Распылителем яв-ляется вентиляторный воздух с температурой 20 °C. 
Мазут поступает в фор-сунку с температурой 80 °C.
Расход кислорода на горение:
        VO2= =0,01*(1,867*Cp+5,6*Hp+0,7*(Sp-Op))
Теоретический расход воздуха:
        L0=(1+k)* VO2
Действительный расход воздуха:
        L α= α * L0
Теплота сгорания мазута:
        QHp= =340*Cp+1030*Hp+109*(Op-Sp)-25*Wp
Содержание воздуха в продуктах сгорания:
        VL= (L α- L0)*100/V α
Балансовая температура продуктов горения при iбобщ=3018,7 кДж/м3
        t α=1850°C

<b>II.	Температурный и газодинамический режимы.</b>
 Расчет газодинамического режима сводится к определению количества разбавителя топочных газов от tф до заданной по технологии температуры t1.
 Пирометрический коэффициент для непрерывно действующих печей ηпир=0,9
 Энтальпия факела iф= ηпир* iбобщ (кДж/м3) и воздуха при tв=20°С.
        iв=1,29*20=26 кДж/м3
 Энтальпия продуктов сгорания i¬1 при t1=850°C равна 1281 кДж/м3
 Энтальпия дымовых газов i2 при t2=350°C и VL равна 508 кДж/м3
 Количество воздуха с температурой 20°С, необходимое для разбавления продуктов сгорания составит:
        Хв=(iф- i¬1)/( i¬1- i¬в)
<b>III.	Тепловой баланс.</b>
 Составим тепловой баланс барабанной печи, из которого найдем расход топлива и основные показатели работы агрегата.
 Приход теплоты. Основное количество теплоты поступает из топлива, учитывая, что физическое тепло воздуха и мазута очень незначительно,
        Qx=B* QHp
<b>Расход теплоты.</b>
 В него входят следующие статьи.
<i>1.	Расход теплоты на нагревание просушиваемых материалов и ис-парение влаги.</i>
 Предварительно рассчитываем влажность песка в зависимости от сухой массы, %:
        W1c=W1в/(1-0,01* W1в)

        W2c=W2в/(1-0,01* W2в)
 Средняя по массе температура песка в конце сушки:
        tм2=t2-150
 Определим искомую статью баланса по формуле:
        Q1=((0,84+0,01*W2c*4,19)*( tм2-tм1)+0,01*( W1c - W2c)*((2675-4,19*20+2,102*(t2-100))))*1,75;
 где, tм1 – температура песка вначале сушки.

<i>2.	Потери теплоты с отходящими газами:</i>
        Q2=[i2+ Хв*(i2в-iв)]* V α*B (кВт),
 где i2в¬ – энтальпия воздуха  при tв=t2=350°C и VL=100% равна 463 кДж/м3.

<i>3.	Потери теплоты с химическим недожогом:</i>
        Q3=0,02* QHp*B (кВт)
<i>4.	Потери теплоты топкой.</i>
 С учетом коэффициента сохранения теплоты в газах (пирометрического коэффициента):
        Q4=(1- ηпир)*B* QHp
<i>5.	Затраты теплоты на нагрев приспособлений и на покрытие по-терь через стенки.</i>
 Поскольку барабанная печь работает в стационарном тепловом режиме и в рабочее пространство не вносится никаких приспособлений, 
то такая статья Q5пр отсутствует.
 Потери теплоты теплопроводностью зависят от диаметра D и длины L барабана, 
который выполнен из котельной листовой стали толщиной 15мм без огнеупорной футеровки внутренней поверхности.
 При заданной производительности печи 6300 кг/ч по сухому материалу и начальной влажности W1в=10% выберем барабанную печь с размерами 
    D=1,6 м и L=8 м.
 Поверхность барабана составит
        Fб= π*D*L (м2)
 Среднюю температуру металлической стенки барабана рассчитаем по формуле :
        tст=0,5(tст.нач+tст.кон),
 где tст.нач – температура стенки вначале барабана
        tст.нач=0,5(t¬1+ tм1);
 где tм1 – начальная температура песка; tст.кон – температура стенки в кон-це барабана
        tст.кон=0,5(t2+tм2).
 При температуре окр. воздуха 20°С и коэффициенте теплоотдачи от по-верхности стенки барабана к окр. среде
        αв=8+0,06* tст     (Вт/м2*К)
 Потери теплоты вследствие теплопроводности стенки:
        Q5=0,001* αв*( tст-20)*Fб      (кВт)
 Составим баланс барабанной сушильной печи:
        QxB=Q1+Q2B+Q3B+Q4B+Q5
 Откуда расход мазута на печь составляет:
        B=(Q1+Q5)/(Qx-Q2-Q3-Q4)  (кг/с)
 Тепловая мощность печи:
        Qx=B* QHp
 Расход теплоты на 1кг испаренной влаги:
        qисп=Qx/(0.01*( W1c – W2c)*1,75)

</pre>
    </div>
</div>