@{
    ViewData["Title"] = "Home Page";
}

<div class="">
    <h1 class="display-4">Расчет барабанной печи</h1>
    <div class="text-center">
        <img src="~/images/img-2016-06-17-15-32-08.png" />
    </div>
    <div class="mt-4">
        <pre>
     Формовочные материалы (глина песок) сушатся в барабанных сушилных печах.
Тепловой баланс составляется для определения расхода тепла на сушку, а также для оценки отдельных статей прихода и
расхода тепла в сушильной установке. Для сушил составляется единый баланс. Тепловой баланс условно принято составлять
при 0℃; считается, что все тела, влага, газы, участвующие в балансе, вносят в него тепло, если их t>00C и расходуют тепло
на нагрев за счет баланса, если имеют t меньше 0℃.

    Расчет представлен для сушки формовочного песка производительностью 6300 кг/ч (1,75 кг/c).Начальная влажность песка W1=10%,а конечная W2=0,5%.
Сушка производится продуктами сгорания мазута марки 100,имеющего следующий состав рабочей массы,%: С=86,6; H=10,4; S=0,84; O=0,4; N=0,6; W=0,8.
Максимальная температура газов t1=850℃,минимальная t2=350℃.
    Принимаем прямоточную схему движения газов и сушимого материала.
        </pre>
    </div>
</div>